.navbar {
  background-color: rgb(20, 20, 20);
  height: 5rem;
  display: flex;
  justify-content: space-between;
}
.navbar a {
  display: flex;
  align-items: center;
}
.logo{
  width: 150px;
}
.add-item-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.cart {
  width: 3rem;
}